header{
    height: 0.91rem;
}
header>img{
    width: 100%;
    height: 0.91rem;
}
nav{
    height: 0.87rem;
    width: 100%;
    background: #ffffff;
    border-bottom: 0.01rem solid #cccccc;
    position: relative;
}
nav>ul>li{
    display: block;
    float: left;
    height: 0.87rem;
    line-height: 0.87rem;
    font-size: 0.32rem;
    color: #666666;
    margin-left: 15.4%;
    box-sizing: border-box;
}
.line{
    background: #00a53c;
    height: 0.04rem;
    width: .96rem;
    display: block;
    position: absolute;
    bottom: 0;
    left: 15.4%;
    transition: left 0.3s ease-out;
}
/*@media screen and (min-width: 550px){*/
    /*nav>ul>li{*/
        /*padding-left: 19%;*/
    /*}*/
    /*.line{*/
        /*left: 19%;*/
    /*}*/
/*}*/
section{
    margin-top: 0.16rem;
    background: #ffffff;
    height: auto;
    overflow: hidden;
    width: 100%;
    border-bottom: 0.01rem solid #cccccc;
}
.ing .title{
    margin: 0.32rem 0 0.08rem auto;
    text-align: center;
}
.ing .title>i,section .title>span{
    font-size: 0.36rem;
    color: #ff9000;
}
.ing .title>em:before{
    content: '';
    border-bottom: 0.01rem solid #dddddd;
    width: 0.8rem;
    display: inline-block;
    margin:0 0.2rem 0.1rem 0;;
}
.ing .title .startNone{
	font-size: 0.36rem;
	color: #333333;
}
.ing .title>span:after{
    content: '';
    border-bottom: 0.01rem solid #dddddd;
    width: 0.8rem;
    display: inline-block;
    margin:0 0 0.1rem 0.32rem;;
}
.ing .content{
    padding: 0.24rem;
    position: relative;
    box-sizing: border-box;
    border-top: 0.01rem solid #ddd;
}
.ing .first{
	border-top: 0 ;
}
.ing .none-active {
    text-align: center;
    padding: 0.24rem 0;
    color: #999999;
    font-size: 0.32rem;
}
.ing .content>img{
    width: 100%;
    height:auto;
}
.ing .content .platform{
    display: block;
    width: 0.7rem;
    height:0.7rem;
    font-size: 0.28rem;
    background: #ff0000;
    color: #ffffff;
    text-align: center;
    line-height: 0.3rem;
    position: absolute;
    padding-top: 0.03rem;
    top: 0.24rem;
    /*display: none;*/
}
.ing .content .introduce{
	font-size: 0.32rem;
	color: #333333;
	line-height: 0.5rem;
	padding-top: 0.24rem;
	display: inline-block;
}
.none{
	display: none;
}

