html{
	font-family: '微软雅黑';
	height: 100%;
}
body{
	background: #eeeeee;
	height: 100%;
}
header{
    height: 0.91rem;
    width: 100%;
    background: #302f35;
    position: fixed;
    top: 0;
    z-index: 99999;
}
header .pic-wrap{
    text-align: center;
    width: 15%;
    float: left;
    padding: 0.16rem 0.24rem 0 0.24rem;
    box-sizing: border-box;
    height: 0.91rem;
}
header>.pic-wrap>i{
    height: 0.6rem;
    width: 0.6rem;
    background: #fff;
    display: block;
    border-radius: 50%;
}
header>.pic-wrap>i>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0.02rem;
}
header .storeName{
    text-align: center;
    font-size: 0.36rem;
    color: #fff;
    display: block;
    width: 65%;
    float: left;
    height: 0.91rem;
    line-height: 0.91rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
header>a{
    font-size: 0.32rem;
    color: #fff;
    display: block;
    height: 0.91rem;
    line-height: 0.91rem;
    width: 20%;
    float: right;
    text-align: right;
    padding:0 0.24rem;
    box-sizing: border-box;
}
header>a>i{
    font-size: 0.24rem !important;
    color: #fff;
    padding-left: 0.03rem;
}
section{
	margin-top: 0.91rem;
}
.commission-header{
	margin-top: 0.16rem;
	background: #fff;
	float: left;
    width: 100%;
    padding: 0.24rem 0;
	border-bottom: 1px solid #ccc;
}
.commission-header>li{
	float: left;
	width: 33.333%;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.commission-header>li dl{
	font-size: 0.32rem;
	color: #FF9000;
}
.commission-header>li dt{
	font-size: 0.28rem;
	color: #333333;
	padding-top: 0.08rem;
}
.commission-month{
	margin-top: 0.16rem;
	background: #fafafa;
	float: left;
	width: 100%;
}
.month-t,.month-b{
	float: left;
	width: 100%;
	padding: 0.24rem 0.24rem 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.month-b{
	padding-bottom: 0.24rem;
}
.commission-month .month-txt{
	font-size: 0.32rem;
	color: #333333;
	display: block;
	float: left;
}
.commission-month .month-change{
	font-size: 0.28rem;
	color: #999999;
	display: block;
	float: right;
}
.commission-month .month-change>i{
	font-size: 0.24rem;
	padding-left: 0.16rem;
}
.yeji{
	padding-left: 0.48rem;
}
.commission-day{
	padding-top: 0.24rem;
	background: #fff;
	float: left;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.day-wrap,.day-txt-wrap,.day-txt-wrap .day-txt,.container{
	float: left;
	width: 100%;
}
.other{
	padding-top: 0.24rem;
}
.day-wrap .day{
	float: left;
	background: #fafafa;
	font-size: 0.28rem;
	color: #999;
	height: 0.36rem;
	line-height: 0.36rem;
	padding: 0 0.08rem;
	border-radius: 0.08rem;
}
.day-wrap{
	padding-left: 0.24rem;
	box-sizing: border-box;
}
.day-txt-wrap{
	padding: 0.24rem 0 0.24rem 0.24rem;
	box-sizing: border-box;
}
.day-txt-wrap .title{
	float: left;
}
.day-txt-wrap .day-txt>span{
	font-size: 0.32rem;
	color: #333;
	display: block;
}
.day-txt-wrap .price{
	float: right;
	padding-right: 0.24rem;
}
.commission-day .day-txt-wrap .format{
	padding-top: 0.12rem;
}
.commission-day .day-txt-wrap .format>span{
	color: #666;
}
.day-txt-wrap .day-txt .bonus{
	color: #ff9000;
	font-size: 0.36rem;
}
.container .day-txt-wrap:first-child{
	padding-bottom: 0;
}
.container .day-txt-wrap:first-child .other{
	padding-top: 0;
}
.container .day-txt-wrap:first-child .top:after{
	border: 0;
}
/*细化border*/
.line-border{
	position:relative;
}
.line-border:after{
	width:200%;
	height:200%;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	content:"";
	-webkit-transform:scale(0.5);
	-webkit-transform-origin:0 0;
	transform:scale(0.5);
	transform-origin:0 0;
	}
.item:after {
	border-right:1px solid;
	border-color: linear-gradient(#fff,#ddd,#fff);
	border-color: -webkit-linear-gradient(#fff,#ddd,#fff);
}
.bottom:after{
	border-bottom: 1px solid #ccc;
}
.bottom,.bottom-d,.bottom-top{
	float: left;
    width: 100%;
}
.top,.boder-left{
	width: 100%;
}
.bottom-d:after,.top:after{
	border-bottom: 1px solid #ddd;
}
.bottom-top:after{
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
.boder-left:after{
	border-left: 1px solid #ccc;
}
