.container-main {
  width: 100%;
  height: 100%;
  background: #ebebeb;
  float: left;
}
.container-main .inform-tab {
  background: #ebebeb;
}
.inform-tab > div {
  display: block;
  overflow-x: auto;
  margin-top: 0.16rem;
  background: #FFf;
}
.container-main #inform-tab .inform-click .inform-selector{
    position: absolute;
    left:0.24rem;
    display: inline-block;
    width: 0.45rem;
    height: 0.45rem;
    line-height: 0.5rem;
    text-align: center;
    cursor: pointer;
    border: 2px solid #cccccc;
    border-radius: 100%;
    overflow: hidden;
    float:left;
  }
  .icon-iconchoicedefault{
    color:#46be78;
    width: 0.45rem;
    height: 0.45rem;
    line-height: 0.46rem;
    font-size:0.46rem;
  }
.td-vertical {
  vertical-align: inherit !important;
}
  .inform-td-icon{
    display: inline-block;
    width: 0.65rem;
    height: 0.65rem;
    line-height: 0.697rem;
    text-align: center;
    cursor: pointer;
    border: 0.05rem solid #cccccc;
    border-radius: 100%;
    overflow: hidden;
    float:left;
    margin-top:0.15rem;
  }
 .inform-add {
    padding-top: 0.05rem;
}
.inform-tab {
  width: 100%;
  text-align: left;
  table-layout: fixed;
  empty-cells: show;
  border-collapse: collapse;
  background: #FFf;
}
.inform-tab tbody {
  background: #ffffff;
}
.inform-tab tr {
  background: #ffffff;
  height: 1rem;
}
.inform-tab tr td:nth-child(1) {
  width: 0.72rem;
  text-align: left;
  vertical-align: top;
  padding-right: 0.24rem;
}
.inform-tab tr td > input[type="checkbox"] {
  width: 0.72rem;
  height: 0.72rem;
}
.inform-tab tr td > p {
  font-size: 0.32rem;
  height: 1rem;
  line-height: 1rem;
  color: #333333;
}
.inform-tab tr td > p:last-child {
  /*display: initial;*/
  display:inline-block;
  width:100%;
}
.inform-tab tr td > p > span:first-child {
  margin-right: 0.46rem;
}
.inform-tab tr td:nth-child(3) {
  width: 1.3rem;
  padding-left: 0;
  border-bottom: 1px solid #ddd;

}
.inform-tab tr td:nth-child(3) .inform-update {
  float: right;
  color: #cccccc;
  text-align: right;
  font-size: 0.3rem;
}
.inform-update>span{
	float: left;
	color: #999999;
}
.inform-update>i{
	font-size: 0.26rem;
	color: #999999;
	padding: 0 0.24rem 0 0.1rem;
	box-sizing: border-box;
}
.inform-tab tr td:nth-child(3) .inform-update .inform-icon {
  display: inline-block;
  line-height: 1.42rem;
  text-align: left;
  padding-left: 0.24rem;
  font-size: 0.42rem;
}
/*暂无收货人*/
.inform-Noconsignee {
  height: 13.6rem;
  line-height: 13.6rem;
  background: #ebebeb;
  text-align: center;
  color: #999;
}
.inform-text {
  padding: 0 0.36rem;
  text-indent: 0.8rem;
  line-height: 0.64rem;
  color: #333;
  font-size: 0.48rem;
  background: #ebebeb;
}
.inform-padding-left {
  padding-left: 0.24rem;
  border-bottom: 1px solid #CCCCCC;
}
.inform-user-width {
  width: 2rem !important;
  border-bottom: 1px solid #ddd;
  padding-left: 0 !important;
}
.inform-user-width .inform-user-title {
  text-align: left;
  color: #333 !important;
}
.inform-input .inform-user-name {
  width: 83%;
  height: 1rem;
  line-height: 1rem;
  font-family: "微软雅黑", "Droid Sans Fallback";
  font-size: 0.32rem;
  border: none;
  color: #666;
  float:left;
}
.tdLine{
	border-bottom: 1px solid #ddd;
}
.inform-input:after{
  display:block;
  content:"clear";
  height:0;
  clear:both;
  overflow:hidden;
  visibility:hidden;
}
.inform-tab tr:last-child .inform-user-width {
  border: none;
}
/*--内容区 end--*/
.button-box {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.button-box .button-end {
  width: 100%;
  height: 1rem;
  border: none;
  outline: none;
  font-size: 0.36rem;
  background: rgb(204,204,204);
  font-family: "微软雅黑", "Droid Sans Fallback";
  color: #ffffff;
}
/*--底部 start--*/
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
.footer .footer-container-fluid {
  /*height:147rem/@size;*/
}
.footer .footer-container-fluid .foot-agreement {
  height: 1.47rem;
  background: #ffffff;
  padding-right: 0.36rem;
  border-top: 1px solid #cccccc;
  color: #cccccc;
  font-size: .48rem;
}
.footer .footer-container-fluid .foot-agreement .foot-label {
  float: left;
  display: inline-block;
}
.footer .footer-container-fluid .foot-agreement .foot-label > span > a{
  margin-left: 0.36rem;
  color: #999;
  text-decoration: underline;
}
.footer .footer-container-fluid .foot-agreement .foot-label > span:nth-child(1) {
  text-align: center;
  float: left;
  width: 1.47rem;
  height: 1.47rem;
  line-height: 1.47rem;
}
.footer .footer-container-fluid .foot-agreement .foot-label > span > input[type="checkbox"] {
  width: 0.72rem;
  height: 0.72rem;
}
.footer .footer-container-fluid .foot-agreement .foot-label > span:nth-child(2) {
  text-align: center;
  float: left;
  height: 1.47rem;
  line-height: 1.47rem;
}
.footer .footer-container-fluid .foot-agreement > a {
  text-align: center;
  color: #999999;
  float: right;
  height: 1.47rem;
  line-height: 1.47rem;
  text-decoration: underline;
}
.footer .footer-container-fluid .footer-btn {
  width: 100%;
  height: 1.47rem;
  font-size: 0.54rem;
  color: #ffffff;
  border: none;
  outline: none;
  font-family: "微软雅黑", "Droid Sans Fallback";
  display: block;
  line-height: 1.47rem;
  text-align: center;
  background: #cccccc;
}
.footer-btn-gray{
  background: #cccccc;
  color: #ffffff;
}
.peorer{
	background: #ff9000 !important;
}
a#footer-btn {
    height: 1rem;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 1rem;
}
/*.inform-tab tr td:nth-child(2){
	  padding-left: 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
}*/

.inform-tab tr nth-child(2) td:nth-child(2){
	  padding-left: 0;
    text-align: left;
    border-bottom: none;
}
.footer-btn-orang{
  background:#ff9000;
  color:#FFF;
}
/*--底部 end--*/
/*显示没有信息的样式*/
.windowText{

  text-align: center;
  color: gray;
  background: #ebebeb;
}
.hidden{
	display: none;
	}
.leave-img,.leave-imgt{
	color: #999999;
 	 float:left;
 	 font-size: .32rem;
}

.footer-nav{
  height:1.47rem;
}
#btn{
	 background: #ff9000;
   color: #FFF
}
.default{
	  height: 1rem;
    line-height: 1rem;
    background: #fff;
    float: left;
    margin-top: 0.16rem;
    width: 100%;
    font-size: .32rem;
    color: #333333;
}
.default>span{
	padding-left: 0.24rem;
}
.default label{
	float: right;
	padding-top: 0.1rem;
}
.inform-click{
	font-size: 0.32rem;
}
.inform-link{
	color: #333;
}
.inform-update{
	color: #999999;
}
.inform-update > span{
	font-size: 0.3rem;
}
.default_txt{
	  width: 0.64rem;
    height: 0.3rem;
    display: inline-block;
    background: #46be78;
    color: #fff;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.3rem;
    margin-left: 0.3rem;
}
.hidden{
	display: none;
}
