*{
    border: 0;
}
html{
    height: 100%;
    overflow-x: hidden;
}
body{
    font-family: "微软雅黑", "Droid Sans Fallback";
    color: #333;
}
header{
    height: 0.91rem;
    width: 100%;
    background: #302f35;
    position: fixed;
    top: 0;
    z-index: 999;
}
header .pic-wrap{
    text-align: center;
    width: 15%;
    float: left;
    padding: 0.16rem 0.24rem 0 0.24rem;
    box-sizing: border-box;
    height: 0.91rem;
}
header>.pic-wrap>i{
    height: 0.6rem;
    width: 0.6rem;
    background: #fff;
    display: block;
    border-radius: 50%;
}
header>.pic-wrap>i>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 0.02rem;
}
header .storeName{
    text-align: center;
    font-size: 0.36rem;
    color: #fff;
    display: block;
    width: 65%;
    float: left;
    height: 0.91rem;
    line-height: 0.91rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}
header>a{
    font-size: 0.32rem;
    color: #fff;
    display: block;
    height: 0.91rem;
    line-height: 0.91rem;
    width: 20%;
    float: right;
    text-align: right;
    padding:0 0.24rem;
    box-sizing: border-box;
}
header>a>i{
    font-size: 0.24rem !important;
    color: #fff;
    padding-left: 0.03rem;
}
/********************tab header************/
.main ul.tab {
    height: .82rem;
    line-height: .82rem;
    background: #FFFFff;
    position: fixed;
    top: 0.91rem;
    z-index: 999;
    width: 100%;
 }
.main ul.tab li{
    float: left;
    width: 33.333%;
    height: .82rem;
    text-align: center;
    font-size: 0;
}
.main ul.tab li a{
    color: #666;
    font-size: 0.34rem;
    height: .82rem;
    display: block;
}
.main ul.tab li a:visited{
   background: #fff;
}
.main ul.tab li a:active{
   background: #fff;
}
.main ul.tab li .tab-active{
    height: 0.06rem;
    background: #00a53c;
}

/********************tab content************/
.main .tab-content {
    margin-top: 1.89rem;
}
.main .tab-content .tab-pane ul li{
   margin-top: 0.16rem;
    background: #FFFFff;
    font-size: 0.3rem;
}
.main .tab-content .tab-pane ul li .order-info{
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0 0.24rem;
}
.main .tab-content .tab-pane ul li .order-info .order-status{
    color: #ff9000;
    float: right;
}
.main .tab-content .tab-pane ul li .order-product{
    background: #f5f5f5;
}
.main .tab-content .tab-pane ul li .order-product .product-main{
    background: #f5f5f5;
    padding: 0.15rem 0.24rem;
/*    overflow-x:scroll;*/
    position: relative;
}
.main .tab-content .tab-pane ul li .order-product .product-main .p-img {
    font-size: 0;
    display: inline-block;
}
.main .tab-content .tab-pane ul li .order-product .product-main .p-img  img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 15px;

}
.main .tab-content .tab-pane ul li .order-product .product-main .p-img  img:last-of-type{
    margin-right: 0px;
}

.main .tab-content .tab-pane ul li .order-product .product-main .p-name {
    position: absolute;
    font-size: 0.3rem;
    color: #333;
    top: 0.24rem;
    padding: 0 0.24rem;
    line-height: 0.4rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    white-space: normal;
    height: 0.8rem;
    left: 1.76rem;
    box-sizing: border-box;
}
.main .tab-content .tab-pane ul li .order-sum{
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: right;
    padding: 0 0.24rem;
}
.main .tab-content .tab-pane ul li .order-sum .order-price{
    font-size: .36rem;
}
.main .tab-content .tab-pane ul li .order-oper{
    height: 1rem;
    line-height: 1rem;
    text-align: right;
    padding: 0 0.24rem;
    border-bottom: 1px solid #ccc;
}
.main .tab-content .tab-pane ul li .order-oper button{
    height: 0.64rem;
    width: 1.68rem;
    font-size: 0.28rem;
    text-align: center;
    background: #FF9000;
    border-radius: 0.08rem;
    margin-left: 0.24rem;
    font-family: "微软雅黑", "Droid Sans Fallback";
    color: #fff;
}
.main .tab-content .tab-pane ul li .order-oper .add-mes{
	display: block;
	text-align: left;
	position: relative;
}
.main .tab-content .tab-pane ul li .order-oper .add-mes>i{
	font-size: 0.24rem;
    color: #999;
    position: absolute;
    right: 0;
}
.main .tab-content .tab-pane ul li .order-oper button.order-pay{
   color: #fff;
    background: #ff9000;
    border: none;
}
.main .tab-content .empty{
    text-align: center;
    margin-top: 2.4rem;
    display: none;
}
.main .tab-content .empty i{
    font-size: 3.6rem;
    color: #666;
}
.main .tab-content .empty p{
    color: #333;
    font-size: 0.48rem;
    margin-top: 0.24rem;
}

.line{
    display: block;
    border-bottom: 0.04rem solid #FF9000;
    transition: left 0.3s ease-out;
    position: relative;
    width: 1.32rem;
    top: -0.02rem;
    margin:0 auto;
}
button{
	outline: none;
}
.preloader{
    display: none;
    text-align: center;
    padding: 0.21rem;
}
.visible{
    display: block;
}
.hidden{
	display: none !important;
}
.color{
	color: #FF9000 !important;
}
span.need-mes {
    position: absolute;
    font-size: 0.24rem;
    color: #333;
    bottom: 0.4rem;
    padding: 0 0.24rem;
}
/*细化border*/
.line-border{
	position:relative;
}
.line-border:after{
	width:200%;
	height:200%;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	content:"";
	-webkit-transform:scale(0.5);
	-webkit-transform-origin:0 0;
	transform:scale(0.5);
	transform-origin:0 0;
	}
.border-t:after{
	border-top: 1px solid #ededed;
}
.border-b:after{
	border-top: 1px solid #bbb;
}
.border-d:after{
	border-top: 1px solid #ddd;
}
.order-line{
	position: fixed;
    top: 1.74rem;
    z-index: 999;
    width: 100%;
}
.border-around:after{
	border: 1px solid #ccc;
}
