body {
  font-family: "微软雅黑", "Droid Sans Fallback";
  width: 100%;
  height: 100%;
  background: #ebebeb;
}
header{
	width: 100%;
}
header .attention{
	width: 100%;
	height: 0.5rem;
	background: #ffe9cc;
	color: #FF9000;
	font-size: 0.24rem;
	padding-left: 0.24rem;
	box-sizing: border-box;
	line-height: 0.5rem;
	position: fixed;
	top: 0;
}
header .attention > i{
	font-size: 0.24rem;
}
.header-money-wrap{
	margin-top: 0.5rem;
	padding: 0.2rem 0 0.5rem 0;
	text-align: center;
	width: 100%;
	background: #fff;
}
.header-money-wrap>span{
	font-size: .28rem;
	color: #333333;
}
.header-money-wrap>p{
	color: #FF9000;
	font-size: 0.8rem;
	padding-top: 0.24rem;
}
.header-money-wrap>p>span{
	padding-left: 0.05rem;
}
header .attention > span{
	padding-left: 0.05rem;
}
.container-main {
  width: 100%;
  height: auto;
  overflow: hidden;
  overflow-x: auto;
  margin-top: .16rem;
  background: #ffffff !important;
  border-bottom: 0.01rem solid #cccccc;
}
.container-main a {
    display: block;
    height: 1.12rem;
    padding-left: 0.24rem;
    box-sizing: border-box;
}
.container-main img,
.container-main a > i {
    width: 0.68rem;
    height: 0.68rem;
    display: block;
    float: left;
    padding-top: 0.19rem;
}
.container-main a .bank {
  display: block;
  float: left;
  font-size: 0.32rem;
  color: #333333;
  width: 3rem;
  padding-left: 0.24rem;
}
.bank>dt{
	padding-top:0.19rem;
}
.bank>dl{
	  font-size: 0.24rem;
    padding-top: 0.16rem;
    color: #999;
}
.container-main > a:first-child > div {
  border-top: 0;
}
.container-main > a > div {
  border-top: 0.01rem solid #cccccc;
}
.container-main a > span:nth-child(4n) {
    display: block;
    float: right;
    font-size: 0.32rem;
    color: #cccccc;
    line-height: 1.12rem;
    height: 1.12rem;
    width: 2rem;
    text-align: right;
    padding-right: 0.24rem;
}
.container-main a > span:nth-child(4n) > i {
  color: #cccccc;
  font-size: 0.24rem;
}
.payOnline {
    height: 0.8rem;
    line-height: 0.8rem;
    padding-left: 0.24rem;
    box-sizing: border-box;
    font-size: 0.28rem;
    color: #333;
}