/* -- 整体布局 -- */
@media screen and (min-width:270px) { html { font-size:     36px; }}
@media screen and (min-width:310px) { html { font-size:     41.3px; }}
@media screen and (min-width:320px) { html { font-size:     42.66px; } }
@media screen and (min-width:340px) { html { font-size:     45.3px; } }
@media screen and (min-width:355px) { html { font-size:  	49px; } }
@media screen and (min-width:375px) { html { font-size:  	50px; } }
@media screen and (min-width:395px) { html { font-size: 	52.66px; } }
@media screen and (min-width:410px) { html { font-size: 	55.2px; } }
@media screen and (min-width:430px) { html { font-size: 	57.3px; } }
@media screen and (min-width:480px) { html { font-size:     64px; } }
@media screen and (min-width:560px) { html { font-size:   	74.6px; } }
@media screen and (min-width:640px) { html { font-size:     85.3px; } }
@media screen and (min-width:750px) { html { font-size:     100px; } }
/* -- 整体布局 -- */

/*--弹出框--*/
.ui-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: rgba(0,0,0,.6);
  display: none;
}
.ui-dialog-cnt {
    color: #333333;
    margin: 0 auto;
    margin-top: 61%;
    width: 80%;
    background-color: #fafafc;
    font-size: 0.3rem;
    border-radius: 0.06rem;
}
.ui-dialog-bd {
  padding: 0.85rem 0.4rem 0.544rem;
}
.ui-dialog-bd>h2, .ui-dialog-bd>h3 {
  width: 100%;
  text-align: center;
  min-height: 0.6rem;
  line-height: 1.3;
}
.ui-dialog-ft {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  border-top: 1px solid #d5d5d6;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.ui-dialog-ft a {
		text-decoration: none;
    font-size: 0.32rem;
    height: 0.84rem;
    line-height: 0.84rem;
    background: #fafafa;
    letter-spacing: 0.02rem;
    display: block;
}
.ui-dialog-ft .ui-btn-primary,#showCancel{
    color: #0bb20c;
    margin-right: 0rem;
    border: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
#showCancel{
	color: #353535;
	border-right: 1px solid #d5d5d6;
}
.loading-div {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
/* -- 加载中 -- */
.loading-wrap{
		position: fixed;
    z-index: 5000;
    width: 2.44rem;
    min-height: 2.44rem;
    top: 36%;
    left: 50%;
    margin-left: -0.96rem;
    background: rgba(40, 40, 40, 0.75);
    text-align: center;
    border-radius: 0.1rem;
    color: #FFFFFF;
}
.loading-wrap>img{
	width: .64rem;
	height: .64rem;
	margin: .64rem auto;
	margin-bottom: 0;
}
.loading-wrap>span{
		font-size: 0.28rem;
    margin-top: 0.3rem;
    display: block;
}
/* -- 加载中 -- */
/* --加载失败 --*/
.loading-erro,.loading-ing{
	margin: 3.2rem auto;
	margin-bottom: 0;
	text-align: center;
}
.loading-erro>i{
	font-size: 1.6rem;
	color: #999999;
}
.loading-erro .loading-erro-txt{
	display: block;
	font-size: 0.36rem;
	color:#333333;
	padding: 0.24rem 0 0.48rem 0;
}
.loading-erro .again-loading{
	margin: 0 auto;
	display: block;
	height: 0.64rem;
	color: #666666;
	font-size: 0.32rem;
	line-height: 0.64rem;
	border: 0.01rem solid #666666;
	border-radius: 0.08rem;
	width: 1.3rem;
	padding: 0 0.64rem;
}
/* --加载失败 --*/
/* -- 加载中 --*/
.loading-ing{
	width: 2.38rem;
}
.loading-ing>img{
	width: 0.32rem;
	height: 0.32rem;
	float: left;
}
.loading-ing>span{
	font-size: 0.32rem;
	color: #333333;
	float: left;
	padding-left: 0.16rem;
	line-height: 0.26rem;
}
/* -- 加载中 --*/