body {
  font-family: "微软雅黑", "Droid Sans Fallback";
  color: #666;
  margin: 0 auto;
  width: 100%;
  background: #ebebeb;
  -webkit-user-select: none;
  -webkit-tap-highlight-color :rgba(0, 0, 0, 0)

}
a {
  text-decoration: none;
}
/*--头部 start--*/
.navbar {
  background: #fafafa;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbar .navbar-container-fluid {
  height: 1.32rem;
  position: relative;
}
.navbar .navbar-container-fluid .navbar-main {
  width: 100%;
  /*background:red;*/
  height: 1.32rem;
  line-height: 1.32rem;
  text-align: center;
  color: #333;
  font-size: 0.54rem;
  margin: 0 auto;
}
.navbar .navbar-container-fluid .navbar-link {
  width: 1.32rem;
  color: #ffffff;
  font-size: 0.54rem;
  text-align:center;
}
.navbar .navbar-container-fluid .navbar-link {
  position: absolute;
  top: 0;
}
.navbar .navbar-container-fluid .navbar-link:first-child {
  left: 0;
}
.navbar .navbar-container-fluid .navbar-link:last-child {
 /* right: 0rem;  
  width:1.32rem;*/
  right: 0rem;
  width: 1.5rem;
  
}
.navbar .navbar-container-fluid .navbar-link .navbar-brand {
  display: block;
  height: 1.5rem;
  line-height: 1.32rem;
  text-align: center;
  font-size: 0.54rem;
  color: #333;
  
  
}


/*搜索 start*/
.navbar .navbar-container-fluid .navbar-main .navbar-seachGoodlsAddr {
  float: left;
  height: 0.9rem;
  margin-top: 0.21rem;
  background: #FFF;
  border-radius: 0.1rem;
  line-height: 0.9rem;
  padding: 0 0.2rem;
  overflow: hidden;
  margin-left:1.32rem;
  width:68%;

}
.navbar .navbar-container-fluid .navbar-main .navbar-seachGoodlsAddr .navbar-seach {
  height: 0.66rem;
  line-height: 0.66rem;
  font-size: 0.48rem;
  outline: none;
  border: none;
  float: left;
  background: none;
  color: #999;
  /*-webkit-box-shadow: 0 0 0px 1000px @greena inset;*/
  font-family: "微软雅黑", "Droid Sans Fallback";
  width: 6.5rem;
  margin-top: 0.1rem;
}
.navbar-seach::-webkit-input-placeholder {
  color: #ccc;
}
.navbar .navbar-container-fluid .navbar-main .navbar-seachGoodlsAddr .navbar-btn {
  display: inline-block;
  width: 0.75rem;
  height: 0.68rem;
  float: left;
  border: none;
  outline: none;
  color: #999;
  font-size: 0.54rem;
  margin-top: 0.12rem;
  background: none;

}
.seach-deleIcon{
  color:#ccc;
  display:none;
  margin-right:0.24rem;
}

.navbar-right{
  display: block;
  
}
.seach-deleIcon{
  float:right;
  font-size:0.5rem;
}
.ui-searchbar-cancel{
  height: 1.32rem;
  line-height: 1.32rem;
  background:#fafafa;
  color:#00a53c;
  border:none;
  outline:none;
  font-size: 0.42rem;
  font-family: "微软雅黑", "Droid Sans Fallback";
  width:1.5rem; 
  display:block;
  text-align:center; 
}
/*搜索 end*/

  /*搜索 end*/



/*--头部 end--*/
/*--内容区 start--*/
.container-main {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  margin-top: 1.32rem;
  margin-bottom: 1.48rem;
}
.container-main .inform {
  height: 2600px;
  background: gold;
}
/*--内容区 end--*/
/*--底部 start--*/
.footer {
  background: #ffffff;
  width: 100%;
  position: fixed;
  bottom: 0;
}
/*--底部 end--*/

/*--弹出框--*/
.ui-dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  background: rgba(0,0,0,.6);
  display: none;
}
.ui-dialog-cnt {
    color: #333333;
    margin: 0 auto;
    margin-top: 68%;
    width: 80%;
    background-color: #fafafc;
    font-size: 0.3rem;
    border-radius: 0.06rem;
}
.ui-dialog-bd {
  padding: 0.85rem 0.4rem 0.544rem;
}
.ui-dialog-bd>h2, .ui-dialog-bd>h3 {
  width: 100%;
  text-align: center;
  min-height: 0.6rem;
  line-height: 1.3;
}
.ui-dialog-ft {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  border-top: 1px solid #d5d5d6;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.ui-dialog-ft a {
		text-decoration: none;
    font-size: 0.32rem;
    height: 0.84rem;
    line-height: 0.84rem;
    background: #fafafa;
    letter-spacing: 0.02rem;
    display: block;
}
.ui-dialog-ft .ui-btn-primary,#showCancel{
    color: #0bb20c;
    margin-right: 0rem;
    border: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
#showCancel{
	color: #353535;
	border-right: 1px solid #d5d5d6;
}


